
<nav class="pagination" role="navigation">
    {% if page.type == 'blogList' %}

    {% for member in site.data.blogList %}

    {% if member.key == page.key %}

    {% if member.prev %}
    <a class="previous pagination__newer btn btn-small btn-tertiary" href="{{ member.prev }}">&larr; {{ member.prev }}</a>
    {% endif %}

    {% if member.next %}
    <a class="next pagination__older btn btn-small btn-tertiary" href="{{ member.next }}">{{ member.next }} &rarr;</a>
    {% endif %}

    {% endif %}

    {% endfor %}

    {% endif %}

    {% if page.type == 'pageList' %}

    {% if paginator.previous_page %}
    <a class="previous pagination__newer btn btn-small btn-tertiary" href="{{ paginator.previous_page_path }}">&larr; 上一页</a>
    {% endif %}
    <span class="page_num pagination__page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a class="next pagination__older btn btn-small btn-tertiary" href="{{ paginator.next_page_path }}">下一页 &rarr;</a>
    {% endif %}

    {% endif %}

</nav>
