
<nav class="pagination" role="navigation">
    {% for member in site.data.blogList %}

    {% if member.key == page.key %}

    {% if member.prev %}
    <a class="previous pagination__newer btn btn-small btn-tertiary" href="{{ member.path}}{{ member.prev }}">&larr; {{ member.prev }}</a>
    {% endif %}

    {% if member.next %}
    <a class="next pagination__older btn btn-small btn-tertiary" href="{{ member.path}}{{ member.next }}">{{ member.next }} &rarr;</a>
    {% endif %}

    {% endif %}

    {% endfor %}

</nav>
